<% include header %>

<div id="menu"
        style = "background-color:#81B398; height: 470px; width: 200px; float:left;">
        <p style="text-align:center"><b>Menu</b></p>
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="/landmark/create">Add A Landmark</a></li>
                <li><a href="/buddy/create">Add A Buddy</a></li>
                <li><a href="/hotel/create">Add A Hotel</a></li>
                <li><a href="/restaurant/create">Add A Restaurant</a></li>
                <li><a href="/landmark/dropdown">Find A Landmark</a></li>
     		<li><a href="/buddy/all">Find a Buddy</a></li>
		<li><a href="/landmark/about">About Page</a></li>
	       </ul>
</div>

<div id="content"
        style = "background-color:#88C0D1; height: 470px; width: 600px; float:left;">
        <p style="color:green"><i>Hotel</i></p>


    <table id="login">
    	<tr>
	    <td>Hotel_Name: </td>
	    <td><%=rs[0].Hotel_Name %></td>
	</tr>

        <tr>
	    <td>Room_Rate: </td>
            <td><%= rs[0].Room_Rate %></td>
        </tr>

        <tr>
	    <td>City: </td>
            <td><%= rs[0].City %></td>
        </tr>

	<tr>
    	    <td>Country: </td>
    	    <td><%= rs[0].Country %></td>
	</tr>

    </table>
</div>
<% include footer %>
