<% include header %>

<div id="menu"
        style = "background-color:#81B398; height: 470px; width: 200px; float:left;">
        <p style="text-align:center"><b>Menu</b></p>
            <ul>
                <li><a href="/">Main Page</a></li>
                <li><a href="/landmark/create">Add A Landmark</a></li>
                <li><a href="/buddy/create">Add A Buddy</a></li>
                <li><a href="/hotel/create">Add A Hotel</a></li>
                <li><a href="/restaurant/create">Add A Restaurant</a></li>
                <li><a href="/landmark/dropdown">Find A Landmark</a></li>
		<li><a href="/buddy/all">Find a Buddy</a></li>
            </ul>

</div>



<div id="content"
	style = "background-color:#88C0D1; height: 470px; width: 600px; float:left;">

     <ul>
	<p style="text-align:center"><b> About Page</b></p>
	<li><p style="color:green"><b> Purpose : </b>
		<i>This website is a poor attempt at organizing world landmarks a person may want to visit.
		   It may or may not include nearby restaurants, hotels, and friends who may be
	           interested in going.</i></p></li>
	<li><p style="color:red"><b> Developer Information : </b>
		<i>World Landmarks is designed by the Procrastination Group where developer information 
		   will be added somdeday. Maybe. </i> </p></li>
	<li><p style="color:blue"><b> Contact Information : </b> 
		<i><ul>
			<li><p style="color:blue">Address: Middle Earth, Far Far Away</li>
			<li><p style="color:blue">Phone:  1800-Landmark</li>
			<li><p style="color:blue">Email:  theWizardBehindTheCurtain@email.com</li>
		</ul></i></p></li>
    </ul>    
</div>

<% include footer %>
