<% include header %>
  	
<div id="menu"
	style = "background-color:#81B398; height: 470px; width: 200px; float:left;">

	<p style="text-align:center"><b>Menu</b></p>
	    <ul>		
                <li><a href="/landmark/create">Add A Landmark</a></li>
                <li><a href="/buddy/create">Add A Buddy</a></li>
		<li><a href="/hotel/create">Add A Hotel</a></li>
		<li><a href="/restaurant/create">Add A Restaurant</a></li>
        	<li><a href="/landmark/dropdown">Find a Landmark</a></li>
		<li><a href="/buddy/all">Find a Buddy</a></li>
		<li><a href="/landmark/about">About Page</a></li>
	    </ul>

</div>

<div id="content"
	style = "background-color:#88C0D1; height: 470px; width:600px; float:right;">
	<img src =http://thumb1.shutterstock.com/display_pic_with_logo/350587/177609194/stock-photo-a-collage-of-many-pictures-of-different-european-landmarks-such-as-the-eiffel-tower-in-paris-the-177609194.jpg" alt="Never Stop Exploring">	
</div>
<% var hideBackLink = true; %>
<% include footer %>
